{% extends 'orders/header.html' %}

{% block content %}
    <div class="container-fluid">
      <div class="row justify-content-center" style="margin-top:20px;">
        <iframe src="https://www.google.com/maps/embed?=!4m5!3m4!1s0x3755bf4ad641980b:0xb5b82c3f0762dd22!8m2!3d23.745582!4d90.3768462?hl=en" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

      </div>
      <div class="row justify-content-center" style="margin-top:20px;">

        <ul>
          <li>Located on 12 street right near the corner of Dhanmondi Lake.</li>
          <li>We are 2 blocks from the Dhanmondi Lake.</li>
          <li>Do not park across the street from us! It is a tow zone!</li>
        </ul>

      </div>

    </div>

{% endblock %}
